body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #0a143a;
}

.container {
  max-width: 1146px;
  margin: auto;
}

.header {
  margin-bottom: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.navbar-menu {
  margin-right: auto;
}

.menu {
  display: flex;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  list-style: none;
}

.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
}

.button-link {
  color: inherit;
}

.button-primary {
  background-color: #256eeb;
  color: #fff;
  border-radius: 5px;
}

.search-panel {
  display: flex;
  padding: 3px;
  height: 50px;
  background-color: #256eeb;
  border-radius: 5px;
}

.search-input {
  flex-grow: 1;   /* растягивается на всё свободное место */
  padding-left: 22px;
  padding-right: 22px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.search-button {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 17px;
  background-color: #256eeb;
  color: #fff;
  border: none;
}

.search-button-text {
  margin-left: 5px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 264px;
  margin-bottom: 20px;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.card-link {
  text-decoration: none;
}

.card-image {
  width: 264px;
  height: 178px;
  border-radius: 10px;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 264px;
}

.card-title {
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
}

.like {
  margin-left: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.like svg {
  fill: #c4c4c4;
}

.like:hover svg {
  fill: #256eeb;
}

.liked svg {
  fill: #f71b47;
}

.card-price {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #0a143a;
}

.card-text {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}

.service {
  margin-bottom: 25px;
}

.service-title {
  margin-top: 7px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.service-text {
  max-width: 217px;
  font-size: 14px;
  line-height: 16px;
}

.footer-text {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.footer-menu {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
}

.footer-link {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  color: inherit;
}

.main-single {
  display: flex;
  align-items: flex-start;
}

.content {
  max-width: 460px;
  margin-right: 30px;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover;
  background-position: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.mySwiper2 {
  width: 100%;
  border-radius: 10px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.content-text {
  font-size: 14px;
  line-height: 140%;
  color: inherit;
}

.single-price {
  display: block;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.author {
  min-width: 264px;
}

.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}

.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #0A143A;
}

.rating {
  margin-bottom: 5px;
}

.rating-counter {
  margin-left: 10px;
  opacity: 0.5;
}

.author-status {
  font-size: 12px;
  line-height: 14px;
}

.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}

.button-success {
  background: #14b4be;
  color: #fff;
  border-radius: 5px;
}

.adv {
  margin-bottom: 26px;
}

.adv a {
  margin-bottom: 7px;
}